<h1><%= @list.name %></h1>
<%= @poster_url %>
<%= link_to 'Add movie', new_list_bookmark_path(@list) %>
<%= link_to 'Return all list', root_path %>
<% @list.movies.each do |movie|  %>
  <div>
    <%= movie.title %>
  </div>
<% end %>
